<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- 应用系统的表名称规则
  <bean id="appNameStrategy" class="com.jinf.util.AppNamingStrategy" />  -->

  <!-- 配置数据库 -->
  <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />
    <!--  hibernate配置文件位置  -->
    <property name="configLocation" value="classpath:hibernate/hibernate.cfg.xml" />
    <property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
    <!--指定进行了Hibernate注解开发的包，方便框架进行扫描设置-->
    <property name="packagesToScan">
      <list>
        <value>com.jinf.system.domain</value>
        <value>com.jinf.flow.domain</value>
        <value>com.jinf.personal.domain</value>
        <value>com.jinf.calendar.domain</value>
        <value>com.jinf.cms.domain</value>
        <value>com.jinf.assets.domain</value>
        <value>com.jinf.workItems.domain</value>
        <value>com.jinf.diary.domain</value>
        <value>com.jinf.plan.domain</value>
        <value>com.jinf.vehicle.domain</value>
        <value>com.jinf.humanAffairs.domain</value>
        <value>com.jinf.infoReport.domain</value>
      </list>
    </property>
    <property name="hibernateProperties">
      <props>
        <!-- 数据模式    <prop key="hibernate.default_schema">${jdbc.schema}</prop>  -->
        <prop key="hibernate.default_schema">${jdbc.schema}</prop> 
        <!--  数据库方言  -->
        <prop key="hibernate.dialect">${hibernate.dialect}</prop>
        <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
      </props>
    </property>
    <property name="mappingResources">
      <list>
        <!--
          <value>jbpm.repository.hbm.xml</value> <value>jbpm.execution.hbm.xml</value> <value>jbpm.history.hbm.xml</value> <value>jbpm.task.hbm.xml</value>
          <value>jbpm.identity.hbm.xml</value>
        -->
      </list>
    </property>
    <!--<property name="namingStrategy">
      <ref bean="appNameStrategy" />
    </property>
  -->
  </bean>

  <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    <property name="sessionFactory">
      <ref local="sessionFactory" />
    </property>
  </bean>

</beans>
